<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.finaldemo01.mapper.UserMapper">
    <insert id="insertUser">
        <!--
         id不需要录入,因为是主键
         img_url不需要录入,因为头像的设置,实在注册后,修改信息时,才录入的
         is_admin不需要录入,直接固定为0,因为注册用户默认是普通用户
         -->
        INSERT INTO t_user( user_name, password, nick_name, is_admin, create_time)
        VALUES (#{userName},#{password},#{nickName},0,#{createTime})
    </insert>
    <select id="selectUserByUserName" resultType="org.example.finaldemo01.pojo.vo.UserVO">
        SELECT id, user_name, nick_name, password,is_admin, img_url
        FROM t_user
        WHERE user_name = #{username}
    </select>
    <!--
        当用户在个人信息页面,修改头像或者昵称时,会执行该SQL
        当在后台管理页面中,修改用户的是否为管理员,也会执行SQL
       -->
    <update id="updateUserById">
        UPDATE t_user
        <set>
            <if test="nickName != null and nickName != ''">nick_name=#{nickName},</if>
            <if test="isAdmin != null and isAdmin != ''">is_admin=#{isAdmin},</if>
            <if test="imgUrl != null and imgUrl != ''">img_url=#{imgUrl}</if>
        </set>
        WHERE id = #{id}
    </update>
    <!--
       由于该SQL只是查询用户是否有头像,所以就返回一个字段,那此时,
       resultType直接指定类型即可
       -->
    <select id="selectImgUrlById" resultType="string">
        SELECT img_url
        FROM t_user
        WHERE id = #{id}
    </select>
    <!--
    管理员页面的用户列表,不需要显示密码,所以不查询密码
    展示用户信息时,根据用户创建时间,从近到远排序
    -->
    <!--这是管理员界面-->
    <select id="selectAllUser" resultType="org.example.finaldemo01.pojo.vo.UserAdminVO">
        SELECT id, user_name, nick_name, is_admin, create_time, img_url
        FROM t_user
        ORDER BY create_time DESC
    </select>

    <delete id="deleteUserById">
        DELETE
        FROM t_user
        WHERE id = #{id}
    </delete>
</mapper>